<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeAliases>
		<typeAlias type="com.goodee.everydoctor.pet.profile.PetBioVO" alias="PetBioVO"/>
		<typeAlias type="com.goodee.everydoctor.pet.profile.PetVO" alias="PetVO"/>
		<typeAlias type="com.goodee.everydoctor.pet.PetdocVO" alias="PetdocVO"/>
		<typeAlias type="com.goodee.everydoctor.pet.PetHomePager" alias="PetHomePager"/>
	
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="com.goodee.everydoctor.util.Pager" alias="Pager"/>
		
		<typeAlias type="com.goodee.everydoctor.drug.DrugVO" alias="DrugVO"/>
		<typeAlias type="com.goodee.everydoctor.drug.delivery.DrugDeliveryVO" alias="DrugDeliveryVO"/>
		<typeAlias type="com.goodee.everydoctor.drug.prescription.DrugPrescriptionVO" alias="DrugPrescriptionVO"/>
		<typeAlias type="com.goodee.everydoctor.board.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.goodee.everydoctor.board.tip.BoardTipVO" alias="BoardTipVO"/>
		<typeAlias type="com.goodee.everydoctor.file.FileVO" alias="FileVO"/>
		<typeAlias type="com.goodee.everydoctor.user.UserVO" alias="UserVO"/>
		<typeAlias type="com.goodee.everydoctor.admin.report.ReportVO" alias="ReportVO"/>
		<typeAlias type="com.goodee.everydoctor.admin.agency.AgencyVO" alias="AgencyVO"/>
		<typeAlias type="com.goodee.everydoctor.hospital.HospitalSectionVO" alias="HospitalSectionVO"/>
		<typeAlias type="com.goodee.everydoctor.hospital.HospitalCategoryVO" alias="HospitalCategoryVO"/>
		<typeAlias type="com.goodee.everydoctor.admin.medic.MedicVO" alias="MedicVO"/>
	</typeAliases>
</configuration>