<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeAliases>
		<typeAlias type="com.goodee.everydoctor.pet.profile.PetBioVO" alias="PetBioVO"/>
		<typeAlias type="com.goodee.everydoctor.pet.profile.PetVO" alias="PetVO"/>
		<typeAlias type="com.goodee.everydoctor.pet.PetdocVO" alias="PetdocVO"/>
		<typeAlias type="com.goodee.everydoctor.pet.PetHomePager" alias="PetHomePager"/>
		<typeAlias type="com.goodee.everydoctor.consult.ConsultVO" alias="ConsultVO"/>
		<typeAlias type="com.goodee.everydoctor.consult.answer.ConsultAnswerVO" alias="ConsultAnswerVO"/>
		<typeAlias type="com.goodee.everydoctor.consult.answer.ConsultAnswerPager" alias="ConsultAnswerPager"/>
		<typeAlias type="com.goodee.everydoctor.pet.diagnosis.PetDiagnosisVO" alias="PetDiagnosisVO"/>
		<typeAlias type="com.goodee.everydoctor.pet.diagnosis.PetDiagnosisPager" alias="PetDiagnosisPager"/>
		<typeAlias type="com.goodee.everydoctor.pay.PayVO" alias="PayVO"/>
		<typeAlias type="com.goodee.everydoctor.sse.AlarmVO" alias="AlarmVO"/>
	
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="com.goodee.everydoctor.util.Pager" alias="Pager"/>
		
		<typeAlias type="com.goodee.everydoctor.drug.DrugVO" alias="DrugVO"/>
		<typeAlias type="com.goodee.everydoctor.drug.delivery.DrugDeliveryVO" alias="DrugDeliveryVO"/>
		<typeAlias type="com.goodee.everydoctor.drug.prescription.DrugPrescriptionVO" alias="DrugPrescriptionVO"/>
		<typeAlias type="com.goodee.everydoctor.drug.prescription.DrugPrescriptionPager" alias="DrugPrescriptionPager"/>
		<typeAlias type="com.goodee.everydoctor.board.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.goodee.everydoctor.board.tip.BoardTipVO" alias="BoardTipVO"/>
		<typeAlias type="com.goodee.everydoctor.file.FileVO" alias="FileVO"/>
		<typeAlias type="com.goodee.everydoctor.user.UserVO" alias="UserVO"/>
		<typeAlias type="com.goodee.everydoctor.user.address.UserAddressVO" alias="UserAddressVO"/>
		<typeAlias type="com.goodee.everydoctor.admin.report.ReportVO" alias="ReportVO"/>
		<typeAlias type="com.goodee.everydoctor.admin.agency.AgencyVO" alias="AgencyVO"/>
		<typeAlias type="com.goodee.everydoctor.admin.agency.AgencyWorkHourVO" alias="AgencyWorkHourVO"/>
		
		<typeAlias type="com.goodee.everydoctor.hospital.HospitalSectionVO" alias="HospitalSectionVO"/>
		<typeAlias type="com.goodee.everydoctor.hospital.HospitalCategoryVO" alias="HospitalCategoryVO"/>
		<typeAlias type="com.goodee.everydoctor.hospital.doctor.HospitalDoctorVO" alias="HospitalDoctorVO"/>
		<typeAlias type="com.goodee.everydoctor.hospital.doctor.HospitalMainPager" alias="HospitalMainPager"/>
		<typeAlias type="com.goodee.everydoctor.hospital.diagnosis.HospitalDiagnosisVO" alias="HospitalDiagnosisVO"/>
		<typeAlias type="com.goodee.everydoctor.hospital.diagnosis.HospitalPrescriptionVO" alias="HospitalPrescriptionVO"/>
		<typeAlias type="com.goodee.everydoctor.hospital.diagnosis.HospitalPrescriptionDrugVO" alias="HospitalPrescriptionDrugVO"/>
		<typeAlias type="com.goodee.everydoctor.hospital.diagnosis.HospitalDiagnosisPager" alias="HospitalDiagnosisPager"/>
		
		<typeAlias type="com.goodee.everydoctor.admin.medic.MedicVO" alias="MedicVO"/>
		<typeAlias type="com.goodee.everydoctor.admin.medic.MedicSectionVO" alias="MedicSectionVO"/>
		<typeAlias type="com.goodee.everydoctor.admin.report.ReportAnswerVO" alias="ReportAnswerVO"/>
		<typeAlias type="com.goodee.everydoctor.admin.report.ReportTypeVO" alias="ReportTypeVO"/>
	</typeAliases>
</configuration>