body {
    background-color: #f5f5f5;
}

#main-content {
    width: 100%;
    padding: 2em 3em;
    margin:500px 0 0 0;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 100vw;
}

.message-parker {
    display: inline-block;
    background-color: #2284f5;
    padding: 10px 15px;
    max-width: 234px;
    border-radius: 20px 0 20px 20px;
    margin-left: 6px;
    padding-right: 20px;
    text-align: right;
}
.message-sender{
    display: inline-block;
    background-color: #f5f5f5;
    max-width: 264px;
    border-radius: 0 20px 20px;
    overflow: hidden;
    vertical-align: top;
    margin: 12px 0;
    white-space: pre-wrap;
    word-break: break-all;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 22px;
}