@charset "UTF-8";

#mainSection {
	background-image: url('/file/PET/pet_main_image.jpg');
}

.hero-area.overlay::before {
	opacity: 0!important;
}

.overlay::before {
	opacity: 0.1;
}

.hero-area .hero-text p {
	color: #55FFDD;
}

.categories .single-cat h3 {
	font-weight: bold;
}