#deliveryColl .collTitle {
  margin-bottom: 16px;
}

#deliveryColl .select_box {
  border: 1px solid #7f9db7;
  width: 135px;
  height: 20px;
  font-size: 12px;
}

#deliveryColl .inp_txt {
  width: 140px;
  height: 14px;
  padding: 4px 0 3px 2px;
  border-top: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 12px;
  line-height: 14px;
}

#deliveryColl .wrap_inquiry {
  padding-bottom: 15px;
  border: 1px solid #e8e8e8;
  background: #f9f9f9;
}

#deliveryColl .wrap_inquiry .box_search {
  width: 701px;
  padding: 13px 0 0 15px;
  border-top: 1px solid #fcfcfc;
  border-left: 1px solid #fcfcfc;
}

#deliveryColl .wrap_inquiry .info_delivery {
  float: left;
}

#deliveryColl .wrap_inquiry .info_delivery .tit {
  float: left;
  padding-right: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  color: #000;
  clear: both;
}

#deliveryColl .wrap_inquiry .info_delivery .cont {
  float: left;
  width: 154px;
}

#deliveryColl .wrap_inquiry .inp_txt {
  float: left;
  width: 140px;
  margin-right: 5px;
}

#deliveryColl .wrap_inquiry .btn_inquiry {
  display: block;
  overflow: hidden;
  float: left;
  width: 41px;
  height: 23px;
  padding: 0;
  border: 0;
  background: url(http://i1.search.daumcdn.net/s/search_all/2011/btn/btn_delivery.gif) no-repeat 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -999em;
  cursor: pointer;
}

#deliveryColl .wrap_inquiry .delivery_num .cont {
  width: 190px;
}

#deliveryColl .wrap_inquiry .refer {
  float: left;
  margin: 6px 0 0 6px;
  font: normal 11px '돋움', dotum;
  color: #777;
  line-height: 13px;
}

/* 관련정보 */
#deliveryColl .list_relation {
  margin: 12px 0 0 0;
  clear: both;
}