/* #deliveryColl .collTitle {
  margin-bottom: 16px;
}

#deliveryColl .select_box {
  border: 1px solid #7f9db7;
  width: 135px;
  height: 20px;
  font-size: 12px;
}

#deliveryColl .inp_txt {
  width: 140px;
  height: 14px;
  padding: 4px 0 3px 2px;
  border-top: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 12px;
  line-height: 14px;
}

#deliveryColl .wrap_inquiry {
  padding-bottom: 15px;
  border: 1px solid #e8e8e8;
  background: #f9f9f9;
}

#deliveryColl .wrap_inquiry .box_search {
  width: 701px;
  padding: 13px 0 0 15px;
  border-top: 1px solid #fcfcfc;
  border-left: 1px solid #fcfcfc;
}

#deliveryColl .wrap_inquiry .info_delivery {
  float: left;
}

#deliveryColl .wrap_inquiry .info_delivery .tit {
  float: left;
  padding-right: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  color: #000;
  clear: both;
}

#deliveryColl .wrap_inquiry .info_delivery .cont {
  float: left;
  width: 154px;
}

#deliveryColl .wrap_inquiry .inp_txt {
  float: left;
  width: 140px;
  margin-right: 5px;
}

#deliveryColl .wrap_inquiry .btn_inquiry {
  display: block;
  overflow: hidden;
  float: left;
  width: 41px;
  height: 23px;
  padding: 0;
  border: 0;
  background: url(http://i1.search.daumcdn.net/s/search_all/2011/btn/btn_delivery.gif) no-repeat 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -999em;
  cursor: pointer;
}

#deliveryColl .wrap_inquiry .delivery_num .cont {
  width: 190px;
}

#deliveryColl .wrap_inquiry .refer {
  float: left;
  margin: 6px 0 0 6px;
  font: normal 11px '돋움', dotum;
  color: #777;
  line-height: 13px;
}

/* 관련정보 */
/* #deliveryColl .list_relation {
  margin: 12px 0 0 0;
  clear: both;
} */

/**
 * Created by yyh on 2020. 12. 10..
 */

 @font-face {
  font-family: 'NotoSansCJKkr-R';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKkr-M';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKkr-B';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKkr-DL';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

body {
  font-family: NotoSansCJKkr-R;
  font-size: 13px;
}

/* notice ìŠ¤íƒ€ì¼ */

.no-padding {
  padding: 0px !important;
}

.header-area {
  height: 56px;
  text-align: center;
  padding-top: 15px;
  font-size: 16px;
}

.title-border {
  background-color: #d8d8d8;
  height: 1px;
}

.title-content {
  padding: 30px 0 24px 0;
  margin-bottom: 24px;
  font-size: 16px;
  color: #212121;
  text-align: center;
}

.title-notice {
  border: 1px solid #aaaaaa;
  border-radius: 16px;
  font-size: 12px;
  height: 22px;
  padding: 2px 9px;
  color: #aaaaaa;
  margin: 0 39% 8px 39%;
}

.title-invoice {
  font-size: 24px;
  font-family: NotoSansCJKkr-B;
  margin-bottom: 2px;
}

.title-company {
  font-size: 16px;
}

.info-area {
  display: block;
  margin-bottom: 25px;
}

.info-back-line {
  position: relative;
}

.info-parcel-text-active {
  font-family: NotoSansCJKkr-M;
  font-size: 10px;
  color: #212121;
  margin-top: 6px;
}

.info-parcel-text-none {
  font-family: NotoSansCJKkr-DL;
  font-size: 10px;
  color: #757575;
  margin-top: 6px;
}

.info-back-line:before {
  content: '';
  position: absolute;
  background-color: #e2e5e8;
  height: 1px;
  top: 25px;
  right: 13%;
  left: 6%;
}

i {
  /* border: solid black; */
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.parcel-img {
  width: 50px;
  height: 50px;
}

/* notice ìŠ¤íƒ€ì¼ end */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
      width: 20%;
      float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
      width: 20%;
      float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
      width: 20%;
      float: left;
  }
}

.tracking-status-item-list {
  border-top: 8px solid #f0f0f0;
}

.tracking-status-item {
  padding: 16px 52px;
  font-size: 13px;
  color: #212121;
}

.tracking-status-item-list :first-child > .location-text {
  font-family: 'NotoSansCJKkr-B';
}

.tracking-status-item-list :first-child > .status-text {
  font-family: 'NotoSansCJKkr-B';
  color: #ff6d00;
}

.tracking-status-item-list :first-child > .list-circle {
  position: relative;
  top: 20px;
  left: -31px;
  width: 10px;
  height: 10px;
  background: #757575;
  border-radius: 5px;
  z-index: 10;
}

.time-text {
  font-size: 12px;
  color: #aaaaaa;
}

.list-circle {
  border: 2px solid #757575;
  position: relative;
  top: 20px;
  left: -30px;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 10;
}

.vertical-line {
  position: absolute;
  width: 2px;
  height: 80px;
  background: #aaaaaa;
  left: 25px;
  top: 40px;
}

.notice-area {
  background-color: #f0f0f0;
  height: 44px;
  padding: 12px 16px;
}

.template-notice {
  font-size: 12px;
  color: #757575;
}

.banner-area {
  background-color: #ff801f;
}

/* 택배사목록 */
/* Copyright 2014 The Chromium Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

:root {
  color-scheme: light dark;
}

div.header {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin: 10px;
}

@media (prefers-color-scheme: dark) {
  div.header {
    border-bottom: 2px solid white;
  }
}



div.hidden {
  display: none;
}



span.hidden {
  display: none;
}

.pretty-print {
  margin-top: 1em;
  margin-left: 20px;
  font-family: monospace;
  font-size: 13px;
}

#webkit-xml-viewer-source-xml {
  display: none;
}

.opened {
  margin-left: 1em;
}

.comment {
  white-space: pre;
}

.folder-button {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  margin-left: -10px;
  width: 10px;
  background-repeat: no-repeat;
  background-position: left top;
  vertical-align: bottom;
}

.fold {
  background: url("data:image/svg+xml,&lt;svg xmlns='http://www.w3.org/2000/svg' fill='%23909090' width='10' height='10'&gt;&lt;path d='M0 0 L8 0 L4 7 Z'/&gt;&lt;/svg&gt;");
  height: 10px;
}

.open {
  background: url("data:image/svg+xml,&lt;svg xmlns='http://www.w3.org/2000/svg' fill='%23909090' width='10' height='10'&gt;&lt;path d='M0 0 L0 8 L7 4 Z'/&gt;&lt;/svg&gt;");
  height: 10px;
}