.subjectIcon {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.star {
	width: 23px;
	height: 23px;
	margin-right: 2px;
	margin-bottom: 5px;
	filter: invert(8%) sepia(90%) saturate(1300%) hue-rotate(800deg) brightness(200%) contrast(120%);
}