<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.goodee.everydoctor.admin.AdminMapper">
		<select id="findCooperationList" parameterType="Pager" resultMap="findCooperationList">
			SELECT M.USERNAME, M.AGENCYNUM, M.MEDICINFO, M.MEDICENABLED, M.MEDICROLE, M.MEDICSPECIALTY,
			A.AGENCYNAME, A.AGENCYADDR, A.AGENCYTEL, A.AGENCYINFO, A.AGENCYROLE, A.AGENCYTYPE, U.NAME
			FROM MEDIC M
			INNER JOIN AGENCY A
			ON (A.AGENCYNUM = M. AGENCYNUM)
			INNER JOIN USERS U 
			ON M.USERNAME = U.USERNAME
			WHERE M.MEDICROLE 
			<choose>
				<when test="kind == '의사'">=#{kind}</when>
				<when test="kind == '간호사'">=#{kind}</when>
				<when test="kind == '수의사'">=#{kind}</when>
				<when test="kind == '수간호사'">=#{kind}</when>
				<when test="kind == '약사'">=#{kind}</when>
				<otherwise>='보호소관리자'</otherwise>
			</choose>
			LIMIT #{startRow}, #{perPage}
		</select>
		
		<resultMap type="MedicVO" id="findCooperationList">
			<id column="USERNAME" property="username"/>
			<result column="AGENCYNUM" property="agencyNum"/>
			<result column="MEDICINFO" property="medicInfo"/>
			<result column="MEDICENABLED" property="medicEnabled"/>
			<result column="MEDICROLE" property="medicRole"/>
			<result column="MEDICSPECIALTY" property="medicSpecialty"/>
			<association property="agencyVO" javaType="AgencyVO">
				<result column="AGENCYNAME" property="agencyName"/>
				<result column="AGENCYADDR" property="agencyAddr"/>
				<result column="AGENCYTEL" property="agencyTel"/>
				<result column="AGENCYINFO" property="agencyInfo"/>
				<result column="AGENCYROLE" property="agencyRole"/>
				<result column="AGENCYTYPE" property="agencyType"/>
			</association>
			<association property="userVO" javaType="UserVO">
				<result column="NAME" property="name"/>
			</association>
		</resultMap>
		
		<select id="findCooperationCount" parameterType="Pager" resultType="Long">
			SELECT COUNT(M.USERNAME)
			FROM MEDIC M
			INNER JOIN AGENCY A
			ON (A.AGENCYNUM = M. AGENCYNUM)
			WHERE M.MEDICROLE
			<choose>
				<when test="kind == '의사'">=#{kind}</when>
				<when test="kind == '간호사'">=#{kind}</when>
				<when test="kind == '수의사'">=#{kind}</when>
				<when test="kind == '수간호사'">=#{kind}</when>
				<when test="kind == '약사'">=#{kind}</when>
				<otherwise>='보호소관리자'</otherwise>
			</choose>
		</select>
		
		<select id="findCooperationDetail" parameterType="String" resultMap="findCooperationDetail">
			SELECT M.USERNAME, M.MEDICINFO, M.MEDICSPECIALTY,
			A.AGENCYNAME, A.AGENCYADDR, A.AGENCYINFO, U.NAME
			FROM MEDIC M
			INNER JOIN AGENCY A
			ON (A.AGENCYNUM = M. AGENCYNUM)
			INNER JOIN USERS U 
			ON M.USERNAME = U.USERNAME
			WHERE M.USERNAME = #{username}
		</select>
		<resultMap type="MedicVO" id="findCooperationDetail">
			<id column="USERNAME" property="username"/>
			<result column="MEDICINFO" property="medicInfo"/>
			<result column="MEDICSPECIALTY" property="medicSpecialty"/>
			<association property="agencyVO" javaType="AgencyVO">
				<result column="AGENCYNAME" property="agencyName"/>
				<result column="AGENCYADDR" property="agencyAddr"/>
				<result column="AGENCYINFO" property="agencyInfo"/>
			</association>
			<association property="userVO" javaType="UserVO">
				<result column="NAME" property="name"/>
			</association>
		</resultMap>
		
		<update id="modifyMedicEnabled" parameterType="String">
			UPDATE MEDIC SET MEDICENABLED = 1 WHERE USERNAME = #{username}
		</update>
		
		<!-- 이번 달 신청된 병원 진료 수 -->
		<select id="findMonthlyDiagnosisCount" resultType="Integer">
			SELECT COUNT(DANSNUM) FROM DIAGNOSIS WHERE DATE_FORMAT(DANSREQTIME, "%Y-%m")=(SELECT DATE_FORMAT(CURDATE(), "%Y-%m"))
		</select>
		
		<!-- 오늘 신청된 병원 진료 수 -->
		<select id="findDailyDiagnosisCount" resultType="Integer">
			SELECT COUNT(DANSNUM) FROM DIAGNOSIS WHERE DATE_FORMAT(DANSREQTIME, "%Y-%m-%d")=CURDATE()
		</select>
		
		<!-- 이번 달 신청된 동물병원 진료 수 -->
		<select id="findMonthlyPetDiagnosisCount" resultType="Integer">
			SELECT COUNT(PDANSNUM) FROM PETDIAGNOSIS WHERE DATE_FORMAT(PDANSREQTIME, "%Y-%m")=(SELECT DATE_FORMAT(CURDATE(), "%Y-%m"))
		</select>
		
		<!-- 오늘 신청된 동물병원 진료 수 -->
		<select id="findDailyPetDiagnosisCount" resultType="Integer">
			SELECT COUNT(PDANSNUM) FROM PETDIAGNOSIS WHERE DATE_FORMAT(PDANSREQTIME, "%Y-%m-%d")=CURDATE()
		</select>
		
		<!-- 이번달 접수된 총 신고 수 -->
		<select id="findThisMonthReport" resultType="Integer">
			SELECT COUNT(REPORTNUM) FROM REPORT WHERE DATE_FORMAT(REPORTDATE, "%Y-%m")=(SELECT DATE_FORMAT(CURDATE(), "%Y-%m"))
		</select>
		
		<!-- 이번 달 접수된 신고중에 답변처리 완료된 신고 -->
		<select id="findThisMonthReportChecked" resultType="Integer">
			SELECT COUNT(REPORTNUM) FROM REPORT WHERE DATE_FORMAT(REPORTDATE, "%Y-%m")=(SELECT DATE_FORMAT(CURDATE(), "%Y-%m"))
			AND REPORTCHECKED = 1
		</select>
	</mapper>
