<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodee.everydoctor.admin.agency.AgencyMapper">
	<insert id="inputAgency" parameterType="AgencyVO" useGeneratedKeys="true" keyProperty="agencyNum">
		INSERT INTO AGENCY (AGENCYNUM, AGENCYNAME, AGENCYADDR, AGENCYTEL, AGENCYINFO, AGENCYROLE,
		AGENCYTYPE) VALUES(NULL, #{agencyName}, #{agencyAddr}, #{agencyTel}, #{agencyInfo},
		#{agencyRole}, #{agencyType})
	</insert>
</mapper>