<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodee.everydoctor.admin.agency.AgencyMapper">
	<insert id="inputAgency" parameterType="AgencyVO" useGeneratedKeys="true" keyProperty="agencyNum">
		INSERT INTO AGENCY (AGENCYNUM, AGENCYNAME, AGENCYADDR, AGENCYTEL, AGENCYINFO, AGENCYROLE,
		AGENCYTYPE) VALUES(NULL, #{agencyName}, #{agencyAddr}, #{agencyTel}, #{agencyInfo},
		#{agencyRole}, #{agencyType})
	</insert>
	
	<!-- 기관별 리스트 불러오기 -->
	<select id="findAgencyList" resultType="AgencyVO">
		SELECT * FROM AGENCY
	</select>
	
	<select id="findHospitalList" resultType="AgencyVO">
		SELECT * FROM AGENCY WHERE AGENCYROLE = '병원'
	</select>
	
	<select id="findPetHospitalList" resultType="AgencyVO">
		SELECT * FROM AGENCY WHERE AGENCYROLE = '동물병원'
	</select>
	
	<select id="findPharmacyList" resultType="AgencyVO">
		SELECT * FROM AGENCY WHERE AGENCYROLE = '약국'
	</select>
	
	<select id="findPetHotelList" resultType="AgencyVO">
		SELECT * FROM AGENCY WHERE AGENCYROLE = '보호소'
	</select>
	
	<!-- 기관 운영 시간 INSERT -->
	<insert id="inputAgencyWorkHour">
		INSERT INTO AGENCYWORKHOUR (AGENCYNUM, SUN, MON, TUE, WED, THU, FRI, SAT, HOLIDAY, LUNCH)
		VALUES (#{agencyNum}, #{sun}, #{mon}, #{tue}, #{wed}, #{thu}, #{fri}, #{sat}, #{holiday}, #{lunch})
	</insert>
	
	<!-- 동물병원 진료과목 불러오기 -->
	<select id="findPetHospitalSection" resultType="HospitalSectionVO">
		SELECT * FROM SECTION WHERE SECTIONKIND=1
	</select>
	
	<delete id="deleteAgency" parameterType="AgencyVO">
	 	DELETE FROM AGENCY WHERE AGENCYNUM = #{agencyNum}
	</delete>
	
	<select id="findAgencyFile" parameterType="AgencyVO" resultType="FileVO">
		SELECT * FROM AGENCYFILE WHERE AGENCYNUM = #{agencyNum}
	</select>
	
</mapper>