<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.goodee.everydoctor.board.tip.BoardTipMapper">
	<select id="getList" resultType="BoardTipVO"
		parameterType="BoardTipVO">
		SELECT * FROM BOARD
	</select>

	<select id="getDetail" parameterType="BoardTipVO"
		resultType="BoardTipVO">
		SELECT * FROM BOARD WHERE BOARDNUM = #{boardNum}
	</select>

</mapper>
    
    