<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.goodee.everydoctor.drug.prescription.DrugPrescriptionMapper">

	<!-- 진료목록 -->
	<select id="findDrugPrescriptionList"
		resultType="DrugPrescriptionVO">
		SELECT * FROM DRUG
		ORDER BY
		DRUGNUM
	</select>

	<select id="findCompletedList"
		parameterType="DrugPrescriptionPager" resultType="HospitalDiagnosisVO">
		SELECT D.*, U.NAME AS PATIENT, P.PRESCRIPTIONSTATUS
		FROM DIAGNOSIS D
		INNER JOIN USERS U
		ON (D.USERNAME = U.USERNAME)
		INNER JOIN PRESCRIPTION
		P
		ON (D.DANSNUM =
		D.DANSNUM)
		WHERE D.DANSSTATUS = 1
		<include refid="searchUser"></include>
		ORDER BY D.DANSENDTIME DESC
		LIMIT #{startRow}, #{perPage}
	</select>

	<!-- 진료 상세정보 -->
	<select id="findDrugPrescriptionDetail"
		parameterType="DrugPrescriptionVO" resultMap="findDrugPrescriptionDetail">	
		SELECT PD.DRUGNUM, D.DRUGNAME, DN.DANSCONTENT, DN.USERNAME
		FROM DRUG D
		INNER JOIN PRESCRIPTIONDRUG PD
		ON D.DRUGNUM=PD.DRUGNUM
		INNER JOIN PRESCRIPTION P
		ON P.PRESCRIPTIONNUM = PD.PRESCRIPTIONNUM
		INNER JOIN DIAGNOSIS DN
		ON DN.DANSNUM = P.DANSNUM
		WHERE P.DANSNUM =#{dansNum}
	</select>
	
	<resultMap type="DrugPrescriptionVO" id="findDrugPrescriptionDetail">
		<result column="DANSCONTENT" property="dansContent"/>
		<result column="USERNAME" property="username"/>
		<collection property="prescriptionDrug" javaType="List" ofType="DrugVO">
			<id column="DRUGNUM" property="drugNum"/>
			<result column="DRUGNAME" property="drugName"/>
		</collection>
	</resultMap>

	<!--운송장번호 -->
	<select id="findDrugDeliveryNum" resultType="DrugPrescriptionVO">
		SELECT * FROM
		DRUGDELIVERY
		WHERE DRUGDELIVERYNUM
		ORDER BY RAND()
		LIMIT 4;
	</select>

	<sql id="searchUser">
		AND
		<choose>
			<when test="kind == 'name'">
				U.NAME
			</when>
			<otherwise>
				U.NAME
			</otherwise>
		</choose>
		LIKE CONCAT('%', #{search}, '%')
	</sql>

	<select id="findCompletedListCount"
		parameterType="DrugPrescriptionPager" resultType="Long">
		SELECT COUNT(DANSNUM)
		FROM DIAGNOSIS D
		INNER JOIN USERS U
		ON (D.USERNAME
		= U.USERNAME)
		WHERE D.DANSSTATUS = 1
		<include refid="searchUser"></include>
	</select>
	
	<select id="findFile" parameterType="HospitalDiagnosisVO"
		resultType="FileVO">
		SELECT DANSFILENUM AS FILENUM, DANSFILENAME AS FILENAME,
		DANSFILEORINAME AS ORINAME FROM DANSFILE WHERE DANSNUM = #{dansNum}
	</select>

	<!-- 증상과목 -->
	<!-- <select id="findHospitalSection" resultType="HospitalSectionVO"> SELECT 
		* FROM SECTION WHERE SECTIONKIND=0 </select> -->
	<!-- 진료과목 -->
	<!-- <select id="findHospitalCategory" resultType="HospitalCategoryVO"> 
		SELECT * FROM CATEGORY WHERE CATEGORYKIND=0 </select> -->
</mapper>