<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodee.everydoctor.drug.DrugMapper">
	<!-- 검색 -->
	<sql id="search">
		WHERE
		<choose>
			<when test="kind =='drugNum'">drugNum</when>
			<when test="kind =='drugName'">drugName</when>
			<otherwise>drugInfo</otherwise>
		</choose>
		LIKE CONCAT('%', #{search}, '%')
	</sql>
	<!-- 약목록 -->
	<select id="findDrugList" resultType="DrugVO" parameterType="Pager">
		SELECT * FROM DRUG
		<include refid="search"></include>
		ORDER BY DRUGNUM
		LIMIT #{startRow} , #{perPage}

	</select>
	<!-- 약 상세정보 -->
	<select id="findDrugDetail" parameterType="DrugVO"
		resultType="DrugVO">
		SELECT * FROM DRUG WHERE DRUGNAME = #{drugName}
	</select>

	<select id="findDrugTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(DRUGNUM)
		FROM DRUG
		<include refid="search"></include>
	</select>
		
</mapper>

	
