<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.everydoctor.hospital.diagnosis.HospitalDiagnosisMapper">

	<insert id="inputHospitalDiagnosis" parameterType="HospitalDiagnosisVO" useGeneratedKeys="true" keyProperty="dansNum">
		INSERT INTO DIAGNOSIS(DANSNUM, USERNAME, DANSCATEGORY, DANSCONTENT, DOCTORNAME, DANSREQTIME, DANSSTATUS)
			VALUES (NULL, #{username}, #{dansCategory}, #{dansContent}, #{doctorName}, NOW(), 0)
	</insert>
	
	<select id="findHospitalReservatedList" parameterType="HospitalDoctorVO" resultType="HospitalDiagnosisVO">
		SELECT D.*,U.NAME AS PATIENT
		FROM DIAGNOSIS D
			 INNER JOIN
			 USERS U 
			ON D.DOCTORNAME = U.USERNAME 
		WHERE D.DOCTORNAME  = #{username} AND D.DANSSTATUS = 0
		ORDER BY D.DANSREQTIME ASC
	</select>
</mapper>