<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.everydoctor.hospital.doctor.HospitalDoctorMapper">

	<select id="findDoctorList" resultMap="DoctorListResult">
		SELECT U.USERNAME, U.NAME, U.FILENAME, M.MEDICSPECIALTY, A.AGENCYNUM, A.AGENCYNAME, S.SECTIONNUM, S.SECTIONNAME, R.ROLENAME 
		FROM USERS U
		INNER JOIN MEDIC M 
		ON(U.USERNAME = M.USERNAME)
		INNER JOIN AGENCY A 
		ON(M.AGENCYNUM = A.AGENCYNUM)
		INNER JOIN MEDICSECTION MS
		ON(M.USERNAME = MS.USERNAME)
		INNER JOIN `SECTION` S 
		ON(MS.SECTIONNUM = S.SECTIONNUM)
		INNER JOIN USERSROLES UR 
		ON(U.USERNAME = UR.USERNAME)
		INNER JOIN `ROLE` R 
		ON(UR.ROLENUM = R.ROLENUM)
		WHERE R.ROLENAME='ROLE_DOCTOR'
	</select>
	
	<resultMap type="HospitalDoctorVO" id="DoctorListResult">
		<id column="USERNAME" property="username"/>
		<result column="NAME" property="name"/>
		<result column="FILENAME" property="fileName"/>
		<association property="agencyVO" javaType="AgencyVO">
			<id column="AGENCYNUM" property="agencyNum"/>
			<result column="AGENCYNAME" property="agencyName"/>
		</association>
		<association property="medicVO" javaType="MedicVO">
			<id column="USERNAME" property="username"/>
			<result column="MEDICSPECIALTY" property="medicSpecialty"/>
		</association>
		<collection property="roles" javaType="List" ofType="String">
			<result column="ROLENAME" property="roleName"/>
		</collection>
		<collection property="hospitalSectionVOs" javaType="List" ofType="HospitalSectionVO">
			<id column="SECTIONNUM" property="sectionNum"/>
			<result column="SECTIONNAME" property="sectionName"/>
		</collection>
	</resultMap>
	
	<select id="findDoctorDetail" parameterType="HospitalDoctorVO" resultMap="DoctorDetailResult">
		SELECT U.*, M.MEDICINFO, M.MEDICSPECIALTY, A.*, S.SECTIONNUM, S.SECTIONNAME
		FROM USERS U
		INNER JOIN MEDIC M 
		ON(U.USERNAME = M.USERNAME)
		INNER JOIN AGENCY A 
		ON(M.AGENCYNUM = A.AGENCYNUM)
		INNER JOIN MEDICSECTION MS
		ON(M.USERNAME = MS.USERNAME)
		INNER JOIN `SECTION` S 
		ON(MS.SECTIONNUM = S.SECTIONNUM)
		INNER JOIN USERSROLES UR 
		ON(U.USERNAME = UR.USERNAME)
		INNER JOIN `ROLE` R 
		ON(UR.ROLENUM = R.ROLENUM)
		WHERE U.USERNAME = #{username}
	</select>
	
	<resultMap type="HospitalDoctorVO" id="DoctorDetailResult">
		<id column="USERNAME" property="username"/>
		<result column="NAME" property="name"/>
		<result column="FILENAME" property="fileName"/>
		<association property="agencyVO" javaType="AgencyVO">
			<id column="AGENCYNUM" property="agencyNum"/>
			<result column="AGENCYNAME" property="agencyName"/>
			<result column="AGENCYADDR" property="agencyAddr"/>
			<result column="AGENCYINFO" property="agencyInfo"/>
		</association>
		<association property="medicVO" javaType="MedicVO">
			<id column="USERNAME" property="username"/>
			<result column="MEDICINFO" property="medicInfo"/>
			<result column="MEDICSPECIALTY" property="medicSpecialty"/>
		</association>
		<collection property="hospitalSectionVOs" javaType="List" ofType="HospitalSectionVO">
			<id column="SECTIONNUM" property="sectionNum"/>
			<result column="SECTIONNAME" property="sectionName"/>
		</collection>
	</resultMap>
</mapper>