<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.everydoctor.hospital.diagnosis.HospitalDiagnosisMapper">

	<insert id="inputHospitalDiagnosis" parameterType="HospitalDiagnosisVO" useGeneratedKeys="true" keyProperty="dansNum">
		INSERT INTO DIAGNOSIS(DANSNUM, USERNAME, DANSCATEGORY, DANSCONTENT, DOCTORNAME, DANSREQTIME, DANSSTATUS)
			VALUES (NULL, #{username}, #{dansCategory}, #{dansContent}, #{doctorName}, NOW(), 0)
	</insert>
	
	<select id="findHospitalReservatedList" parameterType="HospitalDiagnosisPager" resultType="HospitalDiagnosisVO">
		SELECT D.*,U.NAME AS PATIENT
		FROM DIAGNOSIS D
		INNER JOIN USERS U 
		ON D.USERNAME = U.USERNAME 
		WHERE D.DOCTORNAME  = #{username} AND D.DANSSTATUS = 0
		ORDER BY D.DANSREQTIME ASC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	<sql id="searchUser">
		AND
		<choose>
			<when test="kind == 'name'">
				U.NAME
			</when>
			<otherwise>
				U.NAME
			</otherwise>
		</choose>
		LIKE CONCAT('%', #{search}, '%')
	</sql>
	
	<select id="findCompletedListCount" parameterType="HospitalDiagnosisPager" resultType="Long">
		SELECT COUNT(DANSNUM) 
		FROM DIAGNOSIS D
		INNER JOIN USERS U 
		ON (D.USERNAME = U.USERNAME)
		WHERE D.DOCTORNAME = #{username} AND D.DANSSTATUS = 1 
		<include refid="searchUser"></include>
	</select>
	
	<select id="findCompletedList" parameterType="HospitalDiagnosisPager" resultType="HospitalDiagnosisVO">
		SELECT D.*, U.NAME AS PATIENT
		FROM DIAGNOSIS D
		INNER JOIN USERS U 
		ON (D.USERNAME = U.USERNAME)
		WHERE (D.DOCTORNAME = #{username}) AND D.DANSSTATUS = 1
		<include refid="searchUser"></include>
		ORDER BY D.DANSENDTIME DESC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	<select id="findFile" parameterType="HospitalDiagnosisVO" resultType="FileVO">
		SELECT DANSFILENUM AS FILENUM, DANSFILENAME AS FILENAME, DANSFILEORINAME AS ORINAME FROM DANSFILE WHERE DANSNUM = #{dansNum}
	</select>
	
	<select id="findReservatedListCount" parameterType="HospitalDiagnosisPager" resultType="Long">
		SELECT COUNT(DANSNUM) FROM DIAGNOSIS WHERE DOCTORNAME = #{username} AND DANSSTATUS = 0
	</select>
	
	<select id="findCompletedDetail" parameterType="HospitalDiagnosisVO" resultMap="findCompletedDetailResult">
		SELECT D.*, U.NAME, U.PHONE, U.EMAIL, U.FILENAME AS USERFILENAME 
		FROM DIAGNOSIS D
		INNER JOIN USERS U
		ON (D.USERNAME = U.USERNAME)
		WHERE D.DANSNUM = #{dansNum}
	</select>
	
	<resultMap type="HospitalDiagnosisVO" id="findCompletedDetailResult">
		<id column="DANSNUM" property="dansNum"/>
		<result column="USERNAME" property="username"/>
		<result column="DOCTORNAME" property="doctorName"/>
		<result column="DANSCATEGORY" property="dansCategory"/>
		<result column="DANSCONTENT" property="dansContent"/>
		<result column="DANSRESPONSE" property="dansResponse"/>
		<result column="DANSREQTIME" property="dansReqTime"/>
		<result column="DANSENDTIME" property="dansEndTime"/>
		<result column="DANSCOST" property="dansCost"/>
		<result column="DANSSTATUS" property="dansStatus"/>
		<association property="userVO" javaType="UserVO">
			<result column="NAME" property="name"/>
			<result column="PHONE" property="phone"/>
			<result column="EMAIL" property="email"/>
			<result column="USERFILENAME" property="fileName"/>
		</association>
	</resultMap>
	
	<select id="findFills" parameterType="HospitalDiagnosisVO" resultType="DrugVO">
		SELECT DR.*
		FROM PRESCRIPTIONDRUG PD
		INNER JOIN DRUG DR
		ON (PD.DRUGNUM = DR.DRUGNUM)
		WHERE PD.DANSNUM = #{dansNum}
	</select>
</mapper>