<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.everydoctor.location.LocationMapper">
	<!-- 선별검사소 지도찍기 -->
	<select id="findCoronaList" resultMap="CoronaResult">
	SELECT A.AGENCYNAME,A.AGENCYADDR,A.AGENCYTEL,AW.*,AF.AGENCYFILENAME AS FILENAME
		FROM AGENCY A
			INNER JOIN
			AGENCYWORKHOUR AW
			ON A.AGENCYNUM = AW.AGENCYNUM 
			LEFT JOIN 
			AGENCYFILE AF 
			ON A.AGENCYNUM = AF.AGENCYNUM 
		WHERE AGENCYROLE='선별진료소'
			  AND
			  (A.AGENCYADDR REGEXP '구로|서울|올림픽|중랑구|은평구|동작구')
			  
	</select>
	<resultMap type="AgencyVO" id="CoronaResult">
		<id column="AGENCYNUM" property="agencyNum"/>
		<result column="AGENCYNAME" property="agencyName"/>
		<result column="AGENCYADDR" property="agencyAddr"/>
		<result column="AGENCYTEL" property="agencyTel"/>
		<association property="agencyWorkHourVO" javaType="AgencyWorkHourVO">
			<id column="AGENCYNUM" property="agencyNum"/>
			<result column="SUN" property="sun"/>
			<result column="MON" property="mon"/>
			<result column="TUE" property="tue"/>
			<result column="WED" property="wed"/>
			<result column="THU" property="thu"/>
			<result column="FRI" property="fri"/>
			<result column="SAT" property="sat"/>
			<result column="HOLIDAY" property="holiday"/>
			<result column="LUNCH" property="lunch"/>
		</association>
		<collection property="fileVOs" javaType="List" ofType="FileVO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
		</collection>
	</resultMap>
	<!-- 약국 지도찍기 -->
	<select id="findPharmacyList" resultMap="PharmacyListResult">
		SELECT A.*,AW.*,AF.AGENCYFILENAME AS FILENAME
		FROM AGENCY A
			INNER JOIN
			AGENCYWORKHOUR AW
			ON A.AGENCYNUM = AW.AGENCYNUM 
			LEFT JOIN 
			AGENCYFILE AF 
			ON A.AGENCYNUM = AF.AGENCYNUM 
		WHERE AGENCYROLE='약국'
	</select>
	<resultMap type="AgencyVO" id="PharmacyListResult">
		<id column="agencyNum" property="agencyNum"/>
		<result column="agencyName" property="agencyName"/>
		<result column="agencyAddr" property="agencyAddr"/>
		<result column="agencyTel" property="agencyTel"/>
		<association property="agencyWorkHourVO" javaType="AgencyWorkHourVO">
			<id column="AGENCYNUM" property="agencyNum"/>
			<result column="MON" property="mon"/>
			<result column="SAT" property="sat"/>
			<result column="SUN" property="sun"/>
			<result column="HOLIDAY" property="holiday"/>
			<result column="LUNCH" property="lunch"/>
		</association>
		<collection property="fileVOs" javaType="List" ofType="FileVO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
		</collection>
		
	
	</resultMap>
	

	<!-- 24시 동물병원 -->
	<select id="findNonstopHospital" resultMap="nonstopHospitalResult">
		SELECT A.*,AW.*,AF.AGENCYFILENAME AS FILENAME
		FROM AGENCY A
			INNER JOIN
			AGENCYWORKHOUR AW
			ON A.AGENCYNUM = AW.AGENCYNUM 
			LEFT JOIN 
			AGENCYFILE AF 
			ON A.AGENCYNUM = AF.AGENCYNUM 
		WHERE AGENCYTYPE='24시'
	</select>
	<resultMap type="AgencyVO" id="nonstopHospitalResult">
		<id column="AGENCYNUM" property="agencyNum"/>
		<result column="AGENCYNAME" property="agencyName"/>
		<result column="AGENCYADDR" property="agencyAddr"/>
		<result column="AGENCYTEL" property="agencyTel"/>
		<association property="agencyWorkHourVO" javaType="AgencyWorkHourVO">
			<id column="AGENCYNUM" property="agencyNum"/>
			<result column="SUN" property="sun"/>
			<result column="MON" property="mon"/>
			<result column="TUE" property="tue"/>
			<result column="WED" property="wed"/>
			<result column="THU" property="thu"/>
			<result column="FRI" property="fri"/>
			<result column="SAT" property="sat"/>
			<result column="HOLIDAY" property="holiday"/>
			<result column="LUNCH" property="lunch"/>
		</association>
		<collection property="fileVOs" javaType="List" ofType="FileVO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
		</collection>
	
	</resultMap>
	
	<select id="findNightPharmacy" resultMap="nightPharmacyResult">
		SELECT A.*,AW.*,AF.AGENCYFILENAME AS FILENAME
		FROM AGENCY A
			INNER JOIN
			AGENCYWORKHOUR AW
			ON A.AGENCYNUM = AW.AGENCYNUM 
			LEFT JOIN 
			AGENCYFILE AF 
			ON A.AGENCYNUM = AF.AGENCYNUM 
		WHERE AGENCYTYPE='야간'	 
	</select>
	<resultMap type="AgencyVO" id="nightPharmacyResult">
		<id column="AGENCYNUM" property="agencyNum"/>
		<result column="AGENCYNAME" property="agencyName"/>
		<result column="AGENCYADDR" property="agencyAddr"/>
		<result column="AGENCYTEL" property="agencyTel"/>
		<association property="agencyWorkHourVO" javaType="AgencyWorkHourVO">
			<id column="AGENCYNUM" property="agencyNum"/>
			<result column="SUN" property="sun"/>
			<result column="MON" property="mon"/>
			<result column="TUE" property="tue"/>
			<result column="WED" property="wed"/>
			<result column="THU" property="thu"/>
			<result column="FRI" property="fri"/>
			<result column="SAT" property="sat"/>
			<result column="HOLIDAY" property="holiday"/>
			<result column="LUNCH" property="lunch"/>
		</association>	
		<collection property="fileVOs" javaType="List" ofType="FileVO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
		</collection>
	</resultMap>
	
</mapper>