<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.everydoctor.pet.diagnosis.PetDiagnosisMapper">

	<select id="findPetDiagnosisBypDansnum" parameterType="PetDiagnosisVO" resultMap="findPetDiagnosisBypDansnumResult">
		SELECT PD.PDANSNUM, PD.PDANSCATEGORY, PD.PDANSCONTENT, PD.PDANSREQTIME,
			P.PETNAME, P.PETBIRTH, P.PETAGE, P.PETSEX, P.NEUTERED, P.VACCINNATION,
			PB.PETBIONAME, U.NAME, PF.PETDANSFILENUM AS FILENUM, PF.PETDANSFILENAME AS FILENAME, PF.PETDANSFILEORINAME AS FILEORINAME
		FROM PETDIAGNOSIS PD
		INNER JOIN PET P
		ON (PD.PETNUM = P.PETNUM)
		INNER JOIN PETBIO PB 
		ON (P.PETBIONUM = PB.PETBIONUM)
		LEFT JOIN PETDANSFILE PF 
		ON (PD.PDANSNUM = PF.PETDANSNUM)
		LEFT JOIN USERS U 
		ON (PD.PUSERNAME = U.USERNAME)
			WHERE PD.PDANSNUM = #{pDansNum}
	</select>
	
	<resultMap type="PetDiagnosisVO" id="findPetDiagnosisBypDansnumResult">
		<id column="PDANSNUM" property="pDansNum"/>
		<result column="PDANSCATEGORY" property="pDansCategory"/>
		<result column="PDANSCONTENT" property="pDansContent"/>
		<result column="PDANSREQTIME" property="pDansReqTime"/>
		<result column="NAME" property="protectorName"/>
		<association property="petVO" javaType="PetVO">
			<result column="PETNAME" property="petName"/>
			<result column="PETBIRTH" property="petBirth"/>
			<result column="PETAGE" property="petAge"/>
			<result column="PETSEX" property="petSex"/>
			<result column="NEUTERED" property="neutered"/>
			<result column="VACCINNATION" property="vaccinnation"/>
		</association>
		<association property="petBioVO" javaType="PetBioVO">
			<result column="PETBIONAME" property="petBioName"/>
		</association>
		<collection property="pDansFiles" javaType="List" ofType="FileVO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="FILEORINAME" property="fileOriName"/>
		</collection>
	</resultMap>

	<insert id="inputReadyPay" parameterType="PayVO">
		INSERT INTO PAY(PAYNUM, USERNAME, ORDERID, ORDERNAME, STATUS, AMOUNT, PAYREQDATE, PDANSNUM)
		VALUES (NULL, #{username}, #{orderId}, '반려동물 진료비', 'READY', #{amount}, now(), #{pDansNum})
	</insert>

	<select id="findDrug" parameterType="DrugVO" resultType="DrugVO">
		SELECT DRUGNUM, DRUGNAME FROM DRUG WHERE DRUGNAME LIKE CONCAT('%', #{drugName}, '%')
	</select>
	
	<insert id="inputPetFill" parameterType="DrugVO">
		INSERT INTO PETFILLS VALUES (NULL, #{pDansNum}, #{drugNum})
	</insert>
	
	<update id="modifyPetDiagnosis" parameterType="PetDiagnosisVO">
		UPDATE PETDIAGNOSIS SET PDANSRESPONSE = #{pDansResponse}, PDANSAID = #{pDansAid}, 
		PDANSENDTIME = now(), PDANSCOST = #{pDansCost}, PDANSSTATUS = 1
		WHERE PDANSNUM = #{pDansNum}
	</update>

	<select id="findDetailForPrescription" parameterType="PetDiagnosisVO" resultMap="findDetailForPrescriptionResult">
		SELECT * FROM PETDIAGNOSIS PD
		INNER JOIN PET P
		ON (PD.PETNUM = P.PETNUM)
		INNER JOIN PETBIO PB
		ON (P.PETBIONUM = PB.PETBIONUM)
		WHERE PDANSNUM = #{pDansNum} AND PDANSSTATUS = 0
	</select>
	
	<resultMap type="PetDiagnosisVO" id="findDetailForPrescriptionResult">
		<id column="PDANSNUM" property="pDansNum"/>
		<result column="PUSERNAME" property="pUsername"/>
		<result column="PETNUM" property="petNum"/>
		<result column="PDOCTORNAME" property="pDoctorname"/>
		<result column="PDANSCATEGORY" property="pDansCategory"/>
		<result column="PDANSCONTENT" property="pDansContent"/>
		<association property="petVO" javaType="PetVO">
			<result column="PETNAME" property="petName"/>
			<result column="PETBIRTH" property="petBirth"/>
			<result column="PETAGE" property="petAge"/>
			<result column="PETSEX" property="petSex"/>
			<result column="NEUTERED" property="neutered"/>
			<result column="VACCINNATION" property="vaccinnation"/>
		</association>
		<association property="petBioVO" javaType="PetBioVO">
			<id column="PETBIONUM" property="petBioNum"/>
			<result column="PETBIONUMREF" property="petBioNumRef"/>
			<result column="PETBIONAME" property="petBioName"/>
		</association>
	</resultMap>

	<select id="findPetFills" parameterType="PetDiagnosisVO" resultType="DrugVO">
		SELECT DR.*
		FROM PETFILLS PL
		INNER JOIN DRUG DR
		ON (PL.DRUGNUM = DR.DRUGNUM)
		WHERE PL.PDANSNUM = #{pDansNum}
	</select>

	<select id="findCompletedDetail" parameterType="PetDiagnosisVO" resultMap="findCompletedDetailResult">
		SELECT PD.*, P.*, PB.*, PB2.PETBIONAME AS REFBIONAME, U.NAME, U.PHONE, U.EMAIL, U.FILENAME AS USERFILENAME 
		FROM PETDIAGNOSIS PD
		INNER JOIN PET P
		ON (PD.PETNUM = P.PETNUM)
		INNER JOIN PETBIO PB 
		ON (P.PETBIONUM = PB.PETBIONUM)
		INNER JOIN PETBIO PB2
		ON (PB.PETBIONUMREF = PB2.PETBIONUM)
		INNER JOIN USERS U 
		ON (PD.PUSERNAME = U.USERNAME)
		WHERE PD.PDANSNUM = #{pDansNum}
	</select>
	
	<resultMap type="PetDiagnosisVO" id="findCompletedDetailResult">
		<id column="PDANSNUM" property="pDansNum"/>
		<result column="PUSERNAME" property="pUsername"/>
		<result column="PETNUM" property="petNum"/>
		<result column="PDOCTORNAME" property="pDoctorname"/>
		<result column="PDANSCATEGORY" property="pDansCategory"/>
		<result column="PDANSCONTENT" property="pDansContent"/>
		<result column="PDANSRESPONSE" property="pDansResponse"/>
		<result column="PDANSAID" property="pDansAid"/>
		<result column="PDANSREQTIME" property="pDansReqTime"/>
		<result column="PDANSENDTIME" property="pDansEndTime"/>
		<result column="PDANSCOST" property="pDansCost"/>
		<result column="PDANSSTATUS" property="pDansStatus"/>
		<result column="REFBIONAME" property="refBioName"/>
		<association property="petVO" javaType="PetVO">
			<result column="PETNAME" property="petName"/>
			<result column="PETBIRTH" property="petBirth"/>
			<result column="PETAGE" property="petAge"/>
			<result column="PETSEX" property="petSex"/>
			<result column="NEUTERED" property="neutered"/>
			<result column="VACCINNATION" property="vaccinnation"/>
		</association>
		<association property="petBioVO" javaType="PetBioVO">
			<id column="PETBIONUM" property="petBioNum"/>
			<result column="PETBIONUMREF" property="petBioNumRef"/>
			<result column="PETBIONAME" property="petBioName"/>
		</association>
		<association property="userVO" javaType="UserVO">
			<result column="NAME" property="name"/>
			<result column="PHONE" property="phone"/>
			<result column="EMAIL" property="email"/>
			<result column="USERFILENAME" property="fileName"/>
		</association>
	</resultMap>

	<sql id="searchUser">
		AND
		<choose>
			<when test="kind == 'name'">
				U.NAME
			</when>
			<otherwise>
				U.NAME
			</otherwise>
		</choose>
		LIKE CONCAT('%', #{search}, '%')
	</sql>

	<select id="findCompletedListCount" parameterType="PetDiagnosisPager" resultType="Long">
		SELECT COUNT(PDANSNUM) 
		FROM PETDIAGNOSIS PD
		INNER JOIN USERS U 
		ON (PD.PUSERNAME = U.USERNAME)
		WHERE PD.PDOCTORNAME = #{username} AND PD.PDANSSTATUS = 1 
		<include refid="searchUser"></include>
	</select>

	<select id="findCompletedList" parameterType="PetDiagnosisPager" resultType="PetDiagnosisVO">
		SELECT PD.*, U.NAME AS PROTECTORNAME
		FROM PETDIAGNOSIS PD
		INNER JOIN USERS U 
		ON (PD.PUSERNAME = U.USERNAME)
		WHERE (PD.PDOCTORNAME = #{username}) AND PD.PDANSSTATUS = 1
		<include refid="searchUser"></include>
		ORDER BY PD.PDANSENDTIME DESC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	<select id="findFile" parameterType="PetDiagnosisVO" resultType="FileVO">
		SELECT PETDANSFILENUM AS FILENUM, PETDANSFILENAME AS FILENAME, PETDANSFILEORINAME AS ORINAME FROM PETDANSFILE WHERE PETDANSNUM = #{pDansNum}
	</select>

	<select id="findReservatedListCount" parameterType="PetDiagnosisPager" resultType="Long">
		SELECT COUNT(PDANSNUM) FROM PETDIAGNOSIS WHERE PDOCTORNAME = #{username} AND PDANSSTATUS = 0
	</select>

	<select id="findReservatedList" parameterType="PetDiagnosisPager" resultType="PetDiagnosisVO">
		SELECT PD.*, U.NAME AS PROTECTORNAME
		FROM PETDIAGNOSIS PD
		INNER JOIN USERS U 
		ON (PD.PUSERNAME = U.USERNAME)
		WHERE (PD.PDOCTORNAME = #{username}) AND PD.PDANSSTATUS = 0
		ORDER BY PD.PDANSREQTIME ASC
		LIMIT #{startRow}, #{perPage}
	</select>

	<insert id="inputPetDiagnosis" parameterType="PetDiagnosisVO" useGeneratedKeys="true" keyProperty="pDansNum">
		INSERT INTO PETDIAGNOSIS(PDANSNUM, PUSERNAME, PETNUM, PDOCTORNAME, PDANSCATEGORY, PDANSCONTENT, PDANSREQTIME, PDANSSTATUS)
			VALUES (NULL, #{pUsername}, #{petNum}, #{pDoctorname}, #{pDansCategory}, #{pDansContent}, NOW(), 0)
	</insert>

	<select id="findPetCategories" resultType="HospitalCategoryVO">
		SELECT * FROM CATEGORY WHERE CATEGORYKIND = 1
	</select>

	<select id="findOwnPetList" parameterType="UserVO" resultType="PetVO">
		SELECT * FROM PET WHERE USERNAME = #{username}
	</select>

	<select id="findOwnPetCount" parameterType="UserVO" resultType="Integer">
		SELECT COUNT(PETNUM) FROM PET WHERE USERNAME = #{username}
	</select>
	
</mapper>