<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.goodee.everydoctor.report.ReportMapper">
		<insert id="inputReport" parameterType="ReportVO" useGeneratedKeys="true" keyProperty="reportNum">
			INSERT INTO REPORT (REPORTNUM, REPORTTYPENUM, REPORTERNAME, REPORTEDNAME, CONSULTNUM, REPORTTITLE, REPORTCONTENTS, REPORTCHECKED)
			VALUES (NULL, #{reportTypeNum}, #{reporterName}, #{reportedName}, #{consultNum}, #{reportTitle}, #{reportContents}, #{reportChecked})
		</insert>
	</mapper>