<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.everydoctor.user.diagnosis.UserDiagnosisMapper">
	
	<select id="findMylistCnt" parameterType="Pager" resultType="Long">
		SELECT count(*) FROM DIAGNOSIS WHERE USERNAME = #{search};
	</select>
	
	<select id="findHospitalDiagnosisListbyUsername" parameterType="Pager" resultMap="GetHospitalDiagnosisList">
		SELECT D.DANSNUM, D.DOCTORNAME, D.DANSREQTIME, DU.NAME , A.AGENCYNAME , A.AGENCYTEL 
		FROM DIAGNOSIS D 
			LEFT JOIN USERS DU
			ON D.DOCTORNAME = DU.USERNAME 
			LEFT JOIN MEDIC M 
			ON D.DOCTORNAME = M.USERNAME
			LEFT JOIN AGENCY A 
			ON M.AGENCYNUM = A.AGENCYNUM 
		WHERE D.USERNAME = #{search}
		ORDER BY DANSNUM DESC
		LIMIT #{startRow},#{perPage}
	</select>
	
	<resultMap type="HospitalDiagnosisVO" id="GetHospitalDiagnosisList">
		<id column="DANSNUM" property="dansNum"/>
		<result column="DOCTORNAME" property="doctorName" />
		<result column="DANSREQTIME" property="dansReqTime"/>
		<association property="medicVO" javaType="MedicVO">
			<association property="userVO" javaType="UserVO">
				<result column="name" property="name"/>
			</association>
			<association property="agencyVO" javaType="AgencyVO">
				<result column="agencyName" property="agencyName"/>
				<result column="agencyTel" property="agencyTel"/>
			</association>
		</association>
	</resultMap>
	
	
	<select id="findPetListCnt" parameterType="Pager" resultType="Long">
		SELECT COUNT(*) from PETDIAGNOSIS WHERE PUSERNAME =#{search};
	</select>
	
	<select id="findPetDiagnosisListbyUsername" parameterType="Pager" resultMap="GetPetDiagnosisList">
		SELECT PD.PDANSNUM ,PD.pUsername,
			IFNULL(P.PETNAME,"없는펫") AS PETNAME, P.PETFILENAME ,
			PD.PDOCTORNAME ,U.NAME, 
			IFNULL(A.AGENCYNAME,"삭제된 병원")AS AGENCYNAME, IFNULL(A.AGENCYTEL,"")AS AGENCYTEL, 
			PD.PDANSREQTIME
		FROM PETDIAGNOSIS PD	
			LEFT JOIN USERS U
			ON U.USERNAME = PD.PDOCTORNAME
			LEFT JOIN MEDIC M
			ON PD.PDOCTORNAME = M.USERNAME 
			LEFT JOIN AGENCY A 
			ON A.AGENCYNUM = M.AGENCYNUM 
			LEFT JOIN PET P 
			ON PD.PETNUM = P.PETNUM
		WHERE PD.PUSERNAME = #{search}
		ORDER BY PDANSNUM DESC;		
	</select>
	
	<resultMap type="PetDiagnosisVO" id="GetPetDiagnosisList">
		<id column="PDANSNUM" property="pDansNum"/>
		<result column="pUsername" property="pUsername"/>
		<result column="pDoctorname" property="pDoctorname" />
		<result column="PDANSREQTIME" property="pDansReqTime"/>
		<association property="medicVO" javaType="MedicVO">
			<association property="userVO" javaType="UserVO">
				<result column="name" property="name"/>
			</association>
			<association property="agencyVO" javaType="AgencyVO">
				<result column="agencyName" property="agencyName"/>
				<result column="agencyTel" property="agencyTel"/>
			</association>
		</association>
		<association property="petVO">
			<result column="petName" property="petName"/>
			<result column="petFileName" property="petFileName"/>
		</association>
	</resultMap>
	
</mapper>