<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.goodee.everydoctor.user.UserMapper">
	<insert id="inputUser" parameterType="UserVO">
		INSERT INTO USERS(USERNAME, PASSWORD , NAME, EMAIL, FILENAME, USERREGDATE) 
		VALUE (#{username}, #{password}, #{name}, #{email} , #{fileName}, NOW())
	</insert>
	
	<insert id="inputRolePre" parameterType="UserVO">
		INSERT INTO USERSROLES
		(USERSROLENUM, USERNAME, ROLENUM)
		VALUES(0, #{username}, 1)
	</insert>
	
	<update id="modifyUserMember" parameterType="UserVO">
		UPDATE USERS set NAME = #{name}, CI=#{ci}, BIRTH =#{birth}, PHONE =#{phone}, GENDER =#{gender} WHERE USERNAME =#{username};
	</update>
	<update id="modifyRoleMember" parameterType="UserVO">
		UPDATE USERSROLES set ROLENUM=2 WHERE USERNAME = #{username}
	</update>
	
	<select id="getUserByUsername" parameterType="String" resultMap="UserVOResult">
		SELECT u.*, r.ROLENAME 
		FROM USERS u 
			LEFT JOIN USERSROLES u2  on u.USERNAME = u2.USERNAME 
			INNER JOIN `ROLE` r on u2.ROLENUM = r.ROLENUM 
		WHERE u.USERNAME = #{USERNAME}
	</select>
	
	<resultMap type="UserVO" id="UserVOResult">
		<id column="USERNAME" property="username"/>
		<result column="PASSWORD" property="password"/>
		<result column="NAME" property="name"/>
		<result column="BIRTH" property="birth"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="USERREGDATE" property="userRegdate"/>
		<result column="GENDER" property="gender"/>
		<result column="CI" property="ci"/>
		<result column="FILENAME" property="fileName"/>
		<result column="ENABLED" property="enabled"/>
		<result column="ACCOUNTNONEXPIRED" property="accountNonExpired"/>
		<result column="ACCOUNTNONLOCKED" property="accountNonLocked"/>
		<result column="CREDENTIALSNONEXPIRED" property="credentialsNonExpired"/>
		<collection property="roles" javaType="List" ofType="String">
			<result column="ROLENAME" property="roleName"/>
		</collection>
	</resultMap>
	
	<select id="hasUserByCI" parameterType="UserVO" resultType="int">
		select count(USERNAME) from USERS where ci=#{ci}
	</select>
	
</mapper>